@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
}

/* Body */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(31 41 55 / 1);
  color: #ffffff;
}

/* Headings */
h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0px;
  font-weight: bold;
}

/* Buttons */
button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s, -ms-transform .1s, -webkit-transform .1s, transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}

button:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}

/* ########################
# START - Snippet Styles #
# ######################## */

body {
  --fcg-hamburger-top: 20px;
  --fcg-hamburger-right: 20px;
  --fcg-nav-width: 140px;
}

button {
  position: fixed;
  top: var(--fcg-hamburger-top);
  right: var(--fcg-hamburger-right);
  padding: 1rem;
  border: none;
  background-color: aquamarine;
  color: #000;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  border-radius: 0;
  transition-property: transform, color;
  transition-duration: .3s;
  transition-timing-function: linear;
}

button:active {
  background-color: aquamarine;
  border-color: transparent;
  transform: none;
}

button.active {
  transform: translateX(calc(calc(var(--fcg-nav-width) * -1) + var(--fcg-hamburger-right)));
  color: red;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: aquamarine;
  min-width: var(--fcg-nav-width);
  padding: 2rem;
  transform: translateX(100%);
  transition: transform .3s linear;
}

nav.active {
  transform: translateX(0);
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 2rem 0;
}

nav a {
  color: #333;
  text-decoration: none;
}