/* #######################
# START - Snippet Styles #
# ######################## */

body {
  --fcg-hamburger-top: 20px;
  --fcg-hamburger-right: 20px;
  --fcg-nav-width: 140px;
}

button {
  position: fixed;
  top: var(--fcg-hamburger-top);
  right: var(--fcg-hamburger-right);
  padding: 1rem;
  border: none;
  background-color: aquamarine;
  color: #000;
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  border-radius: 0;
  transition-property: transform, color;
  transition-duration: .3s;
  transition-timing-function: linear;
}

button:active {
  background-color: aquamarine;
  border-color: transparent;
  transform: none;
}

button.active {
  transform: translateX(calc(calc(var(--fcg-nav-width) * -1) + var(--fcg-hamburger-right)));
  color: red;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: aquamarine;
  min-width: var(--fcg-nav-width);
  padding: 2rem;
  transform: translateX(100%);
  transition: transform .3s linear;
}

nav.active {
  transform: translateX(0);
}

nav ul {
  padding: 0;
  list-style: none;
}

nav ul li {
  padding: 2rem 0;
}

nav a {
  color: #333;
  text-decoration: none;
}